*/*

!.gitattributes
!.gitignore
!Changelog.txt
!LICENSE
!README.md

!config/*
!scripts/*
!resources/*
!.github/*

##############################################################
##Blacklist all folders not modified either at all
##or partially. The asterisk is important to be able to negate
##actually modified (or blacklisted) entries later on...
##############################################################
configureddefaults/
config/ae2/
config/alexsmobs/
config/CoroUtil/
config/craftingtweaks/
config/defaultoptions/
config/enderio/
config/functionalstorage/
config/invmove/
config/jade/
config/jei/
config/Mekanism/
config/sound_physics_remastered/
config/spark/
config/titanium/
config/visuality/
config/Weather2/

##########################################
##Whitelist files modified from above list
##########################################
!alexsmobs.toml

###########################
##Ignore files not modified
###########################
additionalplacements-client.toml
additionalplacements-common.toml
additionalplacements-startup.toml
advancementplaques-common.toml
aiimprovements-common.toml
ambientsounds-client.json
attributefix.json
auto_third_person-client.toml
betterfoliage-client.toml
betterthirdperson-common.toml
blockrunner-client.toml
blockrunner.json
breezy-client.toml
breezy-common.toml
canary.properties
chalk-client.toml
chalk-common.toml
chat_heads.json5
citadel-common.toml
craftingtweaks-common.toml
cull-less-leaves.json
curios-client.toml
curios-common.toml
defaultoptions-common.toml
dimthread-common.toml
durabilitytooltip-common.toml
embeddium-fingerprint.json
embeddium-mixins.properties
embeddium-options.json
entityculling.json
fallingleaves-client.toml
ferritecore-mixin.toml
fml.toml
foglooksmodernnow.toml
forge-client.toml
guideme.toml
immediatelyfast.json
impactfulweather-client.toml
invmove.json
jumpoverfences-client.toml
labels-client.toml
legendarytooltips-common.toml
lithium.properties
midnightlib.json
modernfix-common.toml
modernfix-mixins.properties
moonlight-client.toml
moonlight-common.toml
naturalist.json
notenoughcrashes.json
oculus.properties
paraglider-common.toml
paraglider-player-states.toml
patchouli-client.toml
reblured-client.toml
saturn-optimizations.toml
sidebar_buttons.json
smallships-client.toml
smallships-common.toml
sodium-extra-options.json
sodium-extra.properties
sophisticatedbackpacks-common.toml
sophisticatedcore-client.toml
sophisticatedcore-common.toml
sophisticatedstorage-client.toml
sophisticatedstorage-common.toml
supplementaries-client.toml
supplementaries-common.toml
tfc-client.toml
tfc-common.toml
tfcweather-common.toml
waterdripsound.json
waterflasks-common.toml
xaerominimap-common.txt
xaerominimap.txt
xaerominimap_entities.json
xaeropatreon.txt
xaeroworldmap-common.txt
xaeroworldmap.txt
MouseTweaks.cfg

craftingtweaks.cfg
icon.png
knownkeys.txt
localconfig.cfg
minetweaker.log
options.txt
servers.dat
updates.html
usernamecache.json
usercache.json
patchouli_data.json

#########
## Misc
#########

# OpenComputers Lua libraries
OpenComputersMod*libjnlua*

*.bat
*.sh
*.ser
*.lnk
.idea

######################################
## Remove MAC OSX generated garbage
######################################

*/.DS_Store
.DS_Store
.DS_Store?
.Trashes
Icon?

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/